---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Eastern Suburbs Dog Trainers" description="Find certified dog trainers in Box Hill, Doncaster, Camberwell, and nearby eastern suburbs of Melbourne.">
  <section class="container">
    <h1>Dog Trainers in Eastern Suburbs</h1>
    <p>Find certified trainers in Box Hill, Doncaster, Camberwell, and nearby eastern suburbs of Melbourne.</p>
  </section>
</Layout>
