---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Inner Melbourne Dog Trainers" description="Explore trusted, certified dog trainers in Richmond, Carlton, Fitzroy, South Yarra, and surrounding inner Melbourne suburbs.">
  <section class="container">
    <h1>Dog Trainers in Inner Melbourne</h1>
    <p>Explore trusted, certified dog trainers operating in suburbs such as Richmond, Carlton, Fitzroy, South Yarra, and surrounding areas.</p>
  </section>
</Layout>
