---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Northern Suburbs Dog Trainers" description="Browse certified trainers in Preston, Coburg, Northcote, and the broader northern suburbs of Melbourne.">
  <section class="container">
    <h1>Dog Trainers in Northern Suburbs</h1>
    <p>Browse certified trainers in Preston, Coburg, Northcote, and the broader northern suburbs of Melbourne.</p>
  </section>
</Layout>
