---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Western Suburbs Dog Trainers" description="Discover trusted dog trainers in Footscray, Sunshine, Yarraville, and other western Melbourne suburbs.">
  <section class="container">
    <h1>Dog Trainers in Western Suburbs</h1>
    <p>Discover trusted dog trainers in Footscray, Sunshine, Yarraville, and other western Melbourne suburbs.</p>
  </section>
</Layout>
