---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Privacy Policy">
  <section class="container">
    <h1>Privacy Policy</h1>
    <p>This website does not collect unnecessary personal data. Emails submitted through newsletter or contact forms are stored securely and are never shared with third parties.</p>
    <p>We operate in compliance with Australian privacy standards.</p>
  </section>
</Layout>
