---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Terms of Service">
  <section class="container">
    <h1>Terms of Service</h1>
    <p>Dog Trainers Directory is a listing and discovery service. While we verify information at the time of listing, we do not endorse or monitor the ongoing conduct of third-party providers listed on this site.</p>
    <p>Use of this website implies acceptance of these terms.</p>
  </section>
</Layout>
